<!doctype html>

<head>
	<meta charset="UTF-8" />
	<title>HGM狼人杀中心</title>
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/room.css" />
</head>

<body  style = 'background-color : #233333'>
	<div id = 'gameboard' style = "background-image:url('img/background.jpg')">
	
	<div id = 'Gamer1Board' class = 'gamingBoard' style = 'left: 45px; top: 30px;'>
		<img id = 'gamer1Image' class = 'gamingimage' />
		<div id = 'gamer1Name' class = "gamerName"></div>
		<div id = 'gamer1Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer2Board' class = 'gamingBoard' style = 'left: 195px; top: 30px;'>
		<img id = 'gamer2Image' class = 'gamingimage' />
		<div id = 'gamer2Name' class = "gamerName"></div>
		<div id = 'gamer2Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	<div id = 'Gamer3Board' class = 'gamingBoard' style = 'left: 345px; top: 30px; cursor: default'>
		<img id = 'gamer3Image' class = 'gamingimage' />
		<div id = 'gamer3Name' class = "gamerName"></div>
		<div id = 'gamer3Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer4Board' class = 'gamingBoard' style = 'left: 495px; top: 30px;'>
		<img id = 'gamer4Image' class = 'gamingimage' />
		<div id = 'gamer4Name' class = "gamerName"></div>
		<div id = 'gamer4Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer5Board' class = 'gamingBoard' style = 'left: 645px; top: 30px;'>
		<img id = 'gamer5Image' class = 'gamingimage' />
		<div id = 'gamer5Name' class = "gamerName"></div>
		<div id = 'gamer5Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer6Board' class = 'gamingBoard' style = 'left: 795px; top: 30px;'>
		<img id = 'gamer6Image' class = 'gamingimage' />
		<div id = 'gamer6Name' class = "gamerName"></div>
		<div id = 'gamer6Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer7Board' class = 'gamingBoard' style = 'left: 45px; bottom: 30px;'>
		<img id = 'gamer7Image' class = 'gamingimage' />
		<div id = 'gamer7Name' class = "gamerName"></div>
		<div id = 'gamer7Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer8Board' class = 'gamingBoard' style = 'left: 195px; bottom: 30px;'>
		<img id = 'gamer8Image' class = 'gamingimage' />
		<div id = 'gamer8Name' class = "gamerName"></div>
		<div id = 'gamer8Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer9Board' class = 'gamingBoard' style = 'left: 345px; bottom: 30px; '>
		<img id = 'gamer9Image' class = 'gamingimage' />
		<div id = 'gamer9Name' class = "gamerName"></div>
		<div id = 'gamer98Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer10Board' class = 'gamingBoard' style = 'left: 495px; bottom: 30px;'>
		<img id = 'gamer10Image' class = 'gamingimage' />
		<div id = 'gamer10Name' class = "gamerName"></div>
		<div id = 'gamer10Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer11Board' class = 'gamingBoard' style = 'left: 645px; bottom: 30px;'>
		<img id = 'gamer11Image' class = 'gamingimage' />
		<div id = 'gamer11Name' class = "gamerName"></div>
		<div id = 'gamer11Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>
	
	<div id = 'Gamer12Board' class = 'gamingBoard' style = 'left: 795px; bottom: 30px;'>
		<img id = 'gamer12Image' class = 'gamingimage' />
		<div id = 'gamer12Name' class = "gamerName"></div>
		<div id = 'gamer12Grade' style = 'position: absolute; width : 190px; top :200px; font-size: 120%'></div>
	</div>

	
	<div id = 'QuitDiv' class = 'QuitDiv' style = "display: none">
		<img src = 'img/logo.png' style = 'position: absolute;height:70px; left: 75px; top:-10px'/>
		<div id = 'QuitHint' style =  'position: absolute; width : 270px; height: 100px; top:50px; text-align:'center''>
			您确定要退出房间么？
			<br>若您正在进行游戏，退出房间将导致判负！
		</div>
		<div id = "QuitYes" class = "roomButton" style = "width: 90px; height: 25px; bottom : 15px; left : 30px; font-size: 100%; ">
			朕意已决
		</div>
			
		<div id = "QuitNo" class = "roomButton" style = "width: 90px; height: 25px; bottom : 15px; right : 30px; font-size: 100%;">
			从长计议
		</div>
	</div>
	
	<div id = 'Ready' class = 'roomButton' style = 'bottom : 300px;'>
		准 备
	</div>
	
	<div id = 'Quit' class = 'roomButton' style = 'bottom : 385px; '>
		退 出 房 间
	</div>
	
	
	
	<div id = 'Timer'>
		60:00
	</div>
	
	<div id = 'cover' class = 'cover' style = 'display:none '>
	</div>
	
	<div id = 'ChatBoard' class = 'chatBoard'>
		</div>
		<img id = 'sound' src = "img/sound.png"/>
		<input type = 'text' id = 'Chat' placeholder="说点什么吧~"/>
		<input type = 'button' id = 'ChatGo' value = '发 送' />
<script src = 'js/room.js' >
</script>

	
</body>